.form-inputs {
    width: 80%;
    margin: auto;
}

.footer {
    margin-bottom: 5px;
}

.user-menu {
    margin-right: 5%;
}

.catalog-card {
    width: 30%;
    margin-right: auto;
    margin-left: auto;
}

.filter-form {
    width: 80%;
    border: 1px solid black;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}