.form-inputs {
    width: 80%;
    margin: auto;
}

.footer {
    margin-bottom: 5px;
}

.user-menu {
    margin-right: 5%;
}

.catalog-card {
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

.filter-form {
    width: 20%;
    border: 1px solid black;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    float: left;
    padding: 10px;
}

.product-image {
    border: 2px solid black;
    width: 20%;
    height: 20%;
    margin-left: 40%;
    margin-bottom: 10px;
}

.product-page {
    text-align: center;
}

.product-text {
    margin-left: 5%;
    margin-right: 5%;
}

.fav-image {
    width: 15%;
    height: 15%;
    border: 1px solid black;
}
