.form-inputs {
    width: 80%;
    margin: auto;
}

.footer {
    margin-bottom: 5px;
}

.user-menu {
    margin-right: 5%;
}

.catalog-card {
    width: 30%;
    margin-left: 10px;
    margin-right: 10px;
}