<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
</head>
<body>
{% extends "base.html" %}

{% block content %}
	<form method="post" action="" class="filter-form">
		<h1>Фильтры поиска и сортировка</h1>
		{{ form.hidden_tag() }}
		<p class="mb-1 navbar-brand active position-relative d-inline">
			{{ form.price.label }}<br>
			{{ form.price(class="form-control", placeholder="1000-2000") }}
		</p>
		<p class="mb-1 navbar-brand active position-relative d-inline">
			{{ form.types.label }}<br>
			{{ form.types(class="form-control", placeholder="бытовая техника, фен") }}
		</p>
		<p class="mb-1 navbar-brand active position-relative d-inline">
			{{ form.sorting.label }}<br>
			{% for radio in form.sorting %}
				<p>{{ radio }} {{ radio.label }}</p>
			{% endfor %}
		</p>
		<p>{{ form.submit(class="btn btn-dark", type="submit") }}</p>
	</form>

	<div>
		{% for row in products %}
			<div class="row" style="margin: auto auto 10px;">
				{% for product in row %}
					<div class="card catalog-card">
						<img src="{{ product.image }}" class="card-img-top" width="18rem" height="300"
							 alt="не вышло">
						<div class="card-body">
							<h5 class="card-title">{{ product.name }}</h5>
							<p class="card-text">{{ product.about }}<br>{{ product.stringed_categories }}</p>
						</div>
						<div class="card-footer">
							<p>Цена: {{ product.price }}₽</p>
							<a href="/catalog/{{ product.id }}" class="btn btn-outline-dark">Подробнее о товаре</a>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
{% endblock %}
</body>
</html>