<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
</head>
<body>
{% extends "base.html" %}

{% block content %}

	<form action="" method="post" class="form-inputs">
		<h1>Авторизация</h1>
		{{ form.hidden_tag() }}
		<p class="mb-1">
			{{ form.log_data.label }}<br>
			{{ form.log_data(class="form-control") }}<br>
			{% for error in form.log_data.errors %}
				<div class="alert alert-danger" role="alert">
					{{ error }}
				</div>
			{% endfor %}
		</p>
		<p class="mb-1">
			{{ form.password.label }}<br>
			{{ form.password(class="form-control", type="password") }}<br>
			{% for error in form.password.errors %}
				<div class="alert alert-danger" role="alert">
					{{ error }}
				</div>
			{% endfor %}
		</p>
		<p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
		<p>{{ form.submit(type="submit", class="btn btn-dark") }}</p>
		{% if message %}
		<p class="alert-danger alert" role="alert">{{ message }}</p>
		{% endif %}
	</form>

{% endblock %}
</body>
</html>