<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
</head>
<body>
{% extends "base.html" %}
{% block content %}
	<div class="product-page">
		<h1>{{ product.name }}</h1>
		<h4>{{ product.stringed_categories }}</h4>
	</div>

	<img src="{{ product.image }}" class="product-image" align="center">
	<div class="product-text">
		<h4>Описание продукта:</h4>
		<p>{{ product.about }}</p>
		<h4>Характеристики:</h4>
		<p>{{ product.specs }}</p>
		<h4>Цена: {{ product.price }} рублей</h4>
		{% if current_user.id %}
			{% if not has %}
				<a href="/catalog/{{ product.id }}/add_to_cart" class="btn btn-outline-dark">Добавить товар в
					корзину</a>
			{% else %}
				<a href="/catalog/{{ product.id }}/remove_from_cart" class="btn btn-outline-dark">Удалить товар из
					корзины</a>
			{% endif %}
		{% endif %}
		<br><br>
		{% if current_user.is_admin %}
			<a href="/edit_product/{{ product.id }}" class="btn btn-outline-dark">Редактировать товар</a>
		{% endif %}
	</div>

{% endblock %}
</body>
</html>