<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
</head>
<body>
{% extends "base.html" %}

{% block content %}
	<h1>Ваша корзина, {{ current_user.nickname }}:</h1>
	<br>
	{% for row in products %}
		<div class="row" style="margin: auto auto 10px">
			{% for product in row %}
				<div class="card catalog-card">
					<img src="{{ product.image }}" class="card-img-top" width="18rem" height="300">
					<div class="card-body">
						<h5 class="card-title">{{ product.name }}</h5>
						<p><b class="card-text">{{ product.stringed_categories }}</b></p>
					</div>
					<div class="card-footer">
						<p>Цена: {{ product.price }}₽</p>
						<a href="/catalog/{{ product.id }}" class="btn btn-outline-dark">Подробнее о товаре</a>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endfor %}
	<hr>
	<h2 style="margin-left: 10px">Итого: {{ total }}₽</h2>
	{% if total != 0 %}
		<h4 style="margin-left: 10px">Уточнить количество товаров и детали покупки можно в одном из наших магазинов по
			всей России!</h4>
	{% endif %}
{% endblock %}
</body>
</html>
