<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
</head>
<body>
{% extends "base.html" %}

{% block content %}

	<h1>Добро пожаловать в магазин техники HiTechStore!</h1>
	<br>
	<h3>О нашем магазине</h3>
	<p style="font-size: large">HiTechStore - это магазин техники, расположенный во многих городах Российской
		федерации.</p>
	<p style="font-size: large">
	У нас вы можете найти огромное множество разнообразной техники:
	<ul>
		<li><b>Телевизоры</b></li>
		<li><b>Мониторы и компьютеры</b></li>
		<li><b>Бытовая техника</b></li>
		<li><b>Телефоны</b></li>
		<li><b>И многое другое</b></li>
	</ul>
	</p>

{% endblock %}
</body>
</html>